.btn-wht {
  color: white;
}

.btn-wht:hover {
  color: gray;
}

.btn-xl {
  font-size: 2em;
}

.btn-denied {
  color: gray;
  cursor: not-allowed;
}

.btn-denied:hover {
  color: gray;
}

.btn-lock .fa-lock-open {
  color: mediumseagreen;
}

.btn-lock .fa-lock {
  color: lightcoral;
}

.btn-lock:not(.js-blocked):hover {
  opacity: 50%;
}

.hide-spin-button::-webkit-outer-spin-button,
.hide-spin-button::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.hide-spin-button {
  -moz-appearance: textfield;
}
