.copy-to-clipboard input {
  border: none;
  background: transparent;
  cursor: copy;
}

.copied {
  background: #1266ae;
  color: #fff;
  font-weight: bold;
  z-index: 99;
  width: 100%;
  top: 0;
  text-align: center;
  padding: 15px;
  display: none;
  font-size: 18px;
}