.viewMore[aria-expanded="false"]:before {
    content:"Beschreibung anzeigen";
}

.viewMore[aria-expanded="true"]:before {
    content:"Weniger anzeigen";
}

.complete-squad {
    border-bottom-width: 2px;
    border-bottom-style: dashed;
}

.slot-number {
    min-width: 3%;
}

.copy-to-clipboard input {
    border: none;
    background: transparent;
    cursor: copy;
}

.copied {
    background: #1266ae;
    color: #fff;
    font-weight: bold;
    z-index: 99;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 15px;
    display: none;
    font-size: 18px;
}