.square-em-1 {
  width: 1em;
  height: 1em;
}

.font-s {
  font-size: 1.5em;
}

.font-d { /*Body default*/
  font-size: 1rem;
}

textarea.one-row { /*Default font size plus border*/
  height: 2.5em;
}

.mw-6 {
  max-width: 6em;
}