/*noinspection CssUnknownTarget*/
#header {
  min-height: 100%;
  background-image: url("/assets/img/backgrounds/gameplay.jpg");
}

@media (max-width: 360px) {
  #header .brand-heading {
    font-size: 49px;
  }
}

section.bg-section {
  background-size: cover;
  background-position: bottom;
}

/*noinspection CssUnknownTarget*/
#events {
  background-image: url("/assets/img/backgrounds/fire.jpg");
}

/*noinspection CssUnknownTarget*/
#discord {
  background-image: url("/assets/img/backgrounds/street.jpg");
}

#loading-error-text {
  display: none;
}

.item .image {
  min-height: 100%;
}