target/
!**/src/main/**
!**/src/test/**
application.properties
logs/
/download/
/img/
/calendar/
/userContent/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Maven ###
.mvn
mvnw
mvnw.cmd

# Plugins
.dcignore
/.jpb/
