<!DOCTYPE html>
<!--suppress HtmlRequiredLangAttribute -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="default (fixed)" class="navbar navbar-light" th:classappend="${fixed} ? 'fixed-top'" id="mainNav">
	<div class="container">
		<div>
			<a th:href="${startUrl}">
				<img class="navbar-logo" th:attr="src=@{/assets/img/amb_logo.jpg}" alt="AMB">
				<a class="navbar-brand" th:href="${startUrl}">Arma macht Bock</a>
			</a>
		</div>
	</div>
</nav>

<nav th:fragment="calendarSubPage" class="navbar navbar-light navbar-expand-md" id="mainNav">
	<div class="container">
		<div>
			<a th:href="${startUrl}">
				<img class="navbar-logo" th:attr="src=@{/assets/img/amb_logo.jpg}" alt="AMB">
				<a class="navbar-brand" th:href="${startUrl}">Arma macht Bock</a>
			</a>
		</div>
		<button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbar"
		        type="button" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
		        value="Menu">
			<em class="fas fa-bars"></em>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item nav-link" role="presentation">
					<a class="nav-link active" th:href="${eventsUrl}">Kalender</a>
				</li>
				<li sec:authorize="isAnonymous()" class="nav-item nav-link" role="presentation">
					<a class="nav-link text-primary" th:href="${loginUrl}">Login</a>
				</li>
				<li sec:authorize="isAuthenticated()" class="nav-item nav-link" role="presentation">
					<a th:href="${profileUrl}">
						<img class="nav-link rounded-circle navbar-profile-picture" th:src="${avatarUrl}"
						     alt="Discord avatar">
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<nav th:fragment="start" class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
	<div class="container">
		<div>
			<a href="#" class="js-scroll-trigger">
				<img class="navbar-logo" th:attr="src=@{/assets/img/amb-logo.jpg}" alt="AMB">
				<a class="navbar-brand" href="#">Arma macht Bock</a>
			</a>
		</div>
		<button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbar"
		        type="button" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
		        value="Menu">
			<em class="fas fa-bars"></em>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item nav-link js-scroll-trigger" role="presentation">
					<a class="nav-link active js-scroll-trigger" href="#about">Über uns</a>
				</li>
				<li class="nav-item nav-link js-scroll-trigger" role="presentation">
					<a class="nav-link js-scroll-trigger" href="#events">Events</a>
				</li>
				<li class="nav-item nav-link js-scroll-trigger" role="presentation">
					<a class="nav-link js-scroll-trigger" href="#discord">Discord</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<nav th:fragment="oneLink (link, text, fixed)" class="navbar navbar-light navbar-expand-md"
     th:classappend="${fixed} ? 'fixed-top'" id="mainNav">
	<div class="container">
		<div>
			<a th:href="${startUrl}">
				<img class="navbar-logo" th:attr="src=@{/assets/img/amb_logo.jpg}" alt="AMB">
				<a class="navbar-brand" th:href="${startUrl}">Arma macht Bock</a>
			</a>
		</div>
		<div id="navbar">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item nav-link" role="presentation">
					<a class="nav-link active" th:href="${link}" th:text="${text}">Link-Text</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<nav th:fragment="twoButtonLinks (link1, text1, link2, text2, fixed)" class="navbar navbar-light navbar-expand-md"
     th:classappend="${fixed} ? 'fixed-top'" id="mainNav">
	<div class="container">
		<div>
			<a th:href="${startUrl}">
				<img class="navbar-logo" th:attr="src=@{/assets/img/amb_logo.jpg}" alt="AMB">
				<a class="navbar-brand" th:href="${startUrl}">Arma macht Bock</a>
			</a>
		</div>
		<div id="navbar">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item nav-link" role="presentation">
					<button class="btn btn-outline-secondary p-0">
						<a class="nav-link" th:href="${link1}" th:text="${text1}">Link-Text</a>
					</button>
				</li>
				<li class="nav-item nav-link" role="presentation">
					<button class="btn btn-outline-secondary p-0">
						<a class="nav-link" th:href="${link2}" th:text="${text2}">Link-Text</a>
					</button>
				</li>
			</ul>
		</div>
	</div>
</nav>
</body>
</html>