<!DOCTYPE html>
<!--suppress HtmlRequiredLangAttribute -->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="jquery">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
	        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</div>

<div th:fragment="jqueryeasing">
	<script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"
	        integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>
</div>

<div th:fragment="bootstrap">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"
	        integrity="sha256-ecWZ3XYM7AwWIaGvSdmipJ2l1F4bN9RXW6zgpeAiZYI=" crossorigin="anonymous"></script>
</div>

<div th:fragment="fullcalendar">
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"
	        integrity="sha256-oenhI3DRqaPoTMAVBBzQUjOKPEdbdFFtTCNIosGwro0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/locales/de.js"
	        integrity="sha256-c+Hri5rs6MCHeyd4+V89LvxDd9pjsSe55e8g1keiFOc=" crossorigin="anonymous"></script>
</div>

<div th:fragment="smartwizard">
	<script src="https://cdn.jsdelivr.net/npm/smartwizard@5.1.1/dist/js/jquery.smartWizard.min.js"
	        integrity="sha256-ZDS9YBVOz85XYQvtiZg1ZMZOk+4dLz/MpYxxzsg5GdQ=" crossorigin="anonymous"></script>
</div>

<div th:fragment="xeditable">
	<script src="https://cdn.jsdelivr.net/npm/x-editable@1.5.1/dist/bootstrap3-editable/js/bootstrap-editable.min.js"
	        integrity="sha256-+fnaOx6GCnrPNNkJicdgSX4Vtl5jpxdMGykaxRQjDi4=" crossorigin="anonymous"></script>
</div>

<div th:fragment="datatables">
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"
	        integrity="sha384-rAVvF8prRmLwFxicUTiwYoT7R5EJaRYwFpo1PcYslk+isR9TUAIJDGPgukDDyb40"
	        crossorigin="anonymous"></script>
</div>

<div th:fragment="jqueryANDbootstrap">
	<script th:replace="fragments/scripts.html :: jquery"></script>
	<script th:replace="fragments/scripts.html :: bootstrap"></script>
</div>

<div th:fragment="jqueryANDpopperANDbootstrap">
	<script th:replace="fragments/scripts.html :: jquery"></script>
	<!--(!) Popper must be included after jQuery but before Bootstrap-->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
	<script th:replace="fragments/scripts.html :: bootstrap"></script>
</div>

<div th:fragment="jqueryuiANDmomentANDtempusdominusANDcolorpicker">
	<script th:src="@{/assets/3rd/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"
	        integrity="sha256-c95CVJWVMOTR2b7FhjeRhPlrSVPaz5zV5eK917/s7vc=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/locale/de.js"
	        integrity="sha256-dJBC1pkYTxgcWOD6TgelpziCdVAo/s6+kh7WyUjwGdQ=" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/build/js/tempusdominus-bootstrap-4.min.js"
	        integrity="sha256-VpqYzVoiXWnJ6OWGzqbreWjWS5pu3mLoqyQSLyQD6aE=" crossorigin="anonymous"></script>
	<script th:src="@{/assets/js/datetimepicker.js}"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap-colorpicker@3.3.0/dist/js/bootstrap-colorpicker.min.js"
	        integrity="sha256-fC8Z58miZex0hsM2pZAHQT1uyvUSxXKHIkMpVCQVPZc=" crossorigin="anonymous"></script>
	<script th:src="@{/assets/js/colorpicker.js}"></script>
</div>
</body>
</html>