<!DOCTYPE html>
<!--suppress HtmlRequiredLangAttribute -->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="jquery">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
	        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</div>

<div th:fragment="jqueryeasing">
	<script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"
	        integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>
</div>

<div th:fragment="bootstrap">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"
	        integrity="sha256-ecWZ3XYM7AwWIaGvSdmipJ2l1F4bN9RXW6zgpeAiZYI=" crossorigin="anonymous"></script>
</div>

<div th:fragment="maxlength">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-maxlength@1.10.1/dist/bootstrap-maxlength.min.js"
	        integrity="sha256-nQQ2OJfG9ukz8nJgWvbUK+gTKGYyoEmMaMjZ+u3/x7s=" crossorigin="anonymous"></script>
	<script th:src="@{/assets/js/maxlength.js}"></script>
</div>

<div th:fragment="fullcalendar">
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"
	        integrity="sha256-PL1mKrYeZkM5SsJ5nydN6463HLkV918bgDdYL0I5Z+k=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/locales/de.js"
	        integrity="sha256-1ixEjHCBNvOhfG6EhL/4/xvEqhS1DMukOhMKHoinrGg=" crossorigin="anonymous"></script>
</div>

<div th:fragment="smartwizard">
	<script src="https://cdn.jsdelivr.net/npm/smartwizard@5.1.1/dist/js/jquery.smartWizard.min.js"
	        integrity="sha256-ZDS9YBVOz85XYQvtiZg1ZMZOk+4dLz/MpYxxzsg5GdQ=" crossorigin="anonymous"></script>
</div>

<div th:fragment="xeditable">
	<script src="https://cdn.jsdelivr.net/npm/x-editable@1.5.1/dist/bootstrap3-editable/js/bootstrap-editable.min.js"
	        integrity="sha256-+fnaOx6GCnrPNNkJicdgSX4Vtl5jpxdMGykaxRQjDi4=" crossorigin="anonymous"></script>
</div>

<div th:fragment="datatables">
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"
	        integrity="sha256-aTkz/OvDuJYgw3/MNkGKLVhlXS4KFLtTuM3JeBjoIms=" crossorigin="anonymous"></script>
</div>

<div th:fragment="jqueryANDbootstrap">
	<script th:replace="fragments/scripts.html :: jquery"></script>
	<script th:replace="fragments/scripts.html :: bootstrap"></script>
</div>

<div th:fragment="jqueryANDpopperANDbootstrap">
	<script th:replace="fragments/scripts.html :: jquery"></script>
	<!--(!) Popper must be included after jQuery but before Bootstrap-->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
	<script th:replace="fragments/scripts.html :: bootstrap"></script>
</div>

<div th:fragment="jqueryuiANDmomentANDtempusdominusANDcolorpicker">
	<script th:src="@{/assets/3rd/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"
	        integrity="sha256-c95CVJWVMOTR2b7FhjeRhPlrSVPaz5zV5eK917/s7vc=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/locale/de.js"
	        integrity="sha256-dJBC1pkYTxgcWOD6TgelpziCdVAo/s6+kh7WyUjwGdQ=" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/build/js/tempusdominus-bootstrap-4.min.js"
	        integrity="sha256-VpqYzVoiXWnJ6OWGzqbreWjWS5pu3mLoqyQSLyQD6aE=" crossorigin="anonymous"></script>
	<script th:src="@{/assets/js/datetimepicker.js}"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap-colorpicker@3.4.0/dist/js/bootstrap-colorpicker.min.js"
	        integrity="sha256-kTyi7A0zgSvvcDhCVK4EZQG54MT2m3IzHSU7cQMr6vU=" crossorigin="anonymous"></script>
</div>
</body>
</html>