<!DOCTYPE html>
<!--suppress HtmlRequiredLangAttribute -->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="default">
	<div class="position-relative" aria-live="polite" aria-atomic="true">
		<div id="savedToast" class="toast bottom-right" data-delay="2000">
			<div class="toast-header">
				<span class="rounded mr-2 square-em-1 bg-success"></span>
				<strong class="mr-auto">Änderungen gespeichert</strong>
				<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>

	<div class="position-relative" aria-live="polite" aria-atomic="true">
		<div id="errorToast" class="toast bottom-right" data-delay="5000">
			<div class="toast-header">
				<span class="rounded mr-2 square-em-1 bg-danger"></span>
				<strong class="mr-auto">Fehler aufgetreten</strong>
				<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>

	<script th:src="@{/assets/js/toasts.js}"></script>
</th:block>

</body>
</html>