<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>404 - Nicht gefunden</title>

	<meta property="og:image" content="/assets/img/amb-logo.jpg">
	<meta property="og:type" content="website">

	<link rel="apple-touch-icon" sizes="60x60" th:href="@{/assets/img/favicon/amb/apple-touch-icon-60x60.png}">
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/favicon/amb/apple-touch-icon-76x76.png}">
	<link rel="apple-touch-icon" sizes="120x120" th:href="@{/assets/img/favicon/amb/apple-touch-icon-120x120.png}">
	<link rel="apple-touch-icon" sizes="152x152" th:href="@{/assets/img/favicon/amb/apple-touch-icon-152x152.png}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/img/favicon/amb/apple-touch-icon-180x180.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/img/favicon/amb/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/img/favicon/amb/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/assets/img/favicon/amb/site.webmanifest}">
	<link rel="mask-icon" th:href="@{/assets/img/favicon/amb/safari-pinned-tab.svg}" color="#5bbad5">
	<link rel="shortcut icon" th:href="@{/assets/img/favicon/amb/favicon.ico}">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-config" th:attrappend="content=@{/assets/img/favicon/amb/browserconfig.xml}">

	<link rel="stylesheet" th:href="@{/assets/3rd/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/globalStyles.css}">
	<link rel="stylesheet" th:href="@{/assets/css/error/404.css}">
</head>
<body>
<nav class="navbar navbar-light" id="mainNav">
	<div class="container">
		<div>
			<a href="/">
				<img class="navbar-logo" th:attr="src=@{/assets/img/amb-logo.jpg}" alt="AMB">
				<a class="navbar-brand" href="/">Arma macht Bock</a>
			</a>
		</div>
	</div>
</nav>

<section class="content-section">
	<!-- Original: https://codepen.io/SofiaSergio/-->
	<div class="error-container">
		<div class="error-text"><p>404</p></div>
		<div class="error-container">
			<!-- caveman left -->
			<div class="caveman">
				<div class="leg">
					<div class="foot"><div class="fingers"></div></div>
				</div>
				<div class="leg">
					<div class="foot"><div class="fingers"></div></div>
				</div>
				<div class="shape">
					<div class="circle"></div>
					<div class="circle"></div>
				</div>
				<div class="head">
					<div class="eye"><div class="nose"></div></div>
					<div class="mouth"></div>
				</div>
				<div class="arm-right"><div class="club"></div></div>
			</div>
			<!-- caveman right -->
			<div class="caveman">
				<div class="leg">
					<div class="foot"><div class="fingers"></div></div>
				</div>
				<div class="leg">
					<div class="foot"><div class="fingers"></div></div>
				</div>
				<div class="shape">
					<div class="circle"></div>
					<div class="circle"></div>
				</div>
				<div class="head">
					<div class="eye"><div class="nose"></div></div>
					<div class="mouth"></div>
				</div>
				<div class="arm-right"><div class="club"></div></div>
			</div>
		</div>
	</div>
</section>
</body>
</html>