<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>AMB - Logs</title>

	<meta property="og:image" content="/assets/img/amb_logo.jpg">
	<meta property="og:type" content="website">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/img/favicon/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/img/favicon/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/img/favicon/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/assets/img/favicon/site.webmanifest}">

	<link rel="stylesheet" th:href="@{/assets/3rd/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
	      integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/assets/css/globalStyles.css}">
	<link rel="stylesheet" th:href="@{/assets/css/buttons.css}">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-md" id="mainNav">
	<div class="container">
		<div>
			<a th:href="${startUrl}">
				<img class="navbar-logo" th:attr="src=@{/assets/img/amb_logo.jpg}" alt="AMB">
				<a class="navbar-brand" th:href="${startUrl}">Arma macht Bock</a>
			</a>
		</div>
		<div id="navbar">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item nav-link" role="presentation">
					<a class="nav-link active" th:href="${logsUrl}">Logs</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<section class="content-section">
	<div class="container">
		<div class="d-flex justify-content-center">
			<p class="mr-1" th:text="${'Slotbot Ping: ' + #temporals.format(pingTime, 'dd.MM.yyyy HH:mm')}"></p>

			<em class="fa btn-xl" th:classappend="${ping} ? 'fa-heart text-success' : 'fa-heart-o text-danger'" th:title="${status}"></em>
		</div>
	</div>
</section>

<footer id="footer" class="fixed-bottom">
	<div class="container text-center">
		<p>
			<a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> ©
			<a href="mailto:awebsite-footer@webalf.de">Alf</a> 2020
		</p>
	</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"
        integrity="sha256-ecWZ3XYM7AwWIaGvSdmipJ2l1F4bN9RXW6zgpeAiZYI=" crossorigin="anonymous"></script>
</body>
</html>