<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/general.html :: head('Administration')"/>

	<link rel="stylesheet" th:href="@{/assets/css/buttons.css}">
	<link rel="stylesheet" th:href="@{/assets/css/cards.css}">
</head>
<body>
<nav th:replace="fragments/navbar.html :: twoButtonLinks (${utilsUrl}, Utils, ${logsUrl}, Logs, false)"></nav>

<section class="content-section pt-0">
	<div class="container">
		<div class="card" th:each="server : ${servers}"
		     th:with="online=${server.getStatus()} eq ${T(de.webalf.slotbot.model.external.ServerStatus).ONLINE}">
			<h3 class="title mb-2" th:text="${server.getName()}">Server Name</h3>

			<p class="ip mb-1" th:text="${server.getFullIp()}">IP</p>
			<p th:text="${'Updated at (UTC): ' + #temporals.format(server.getUpdatedAt(), 'dd.MM.yyyy HH:mm:ss')}">
				Last update
			</p>

			<div class="status">
				<em class="btn-xl fas"
				    th:classappend="${online} ? 'fa-heart text-success' : 'fa-heartbeat text-danger'"
				    th:title="${server.getStatus()}"></em>
			</div>

			<div class="btn btn-primary mt-3 js-server-toggle" type="button"
			     th:if="${server.isKnownExternal()}"
			     th:data-serverip="${server.getFullIp()}">
				Server neustarten
			</div>
		</div>
	</div>
</section>

<footer th:insert="fragments/general.html :: footer" class="fixed-bottom"></footer>

<script th:replace="fragments/scripts.html :: jqueryANDbootstrap"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	const serverToggleUrl = /*[[${serverToggleUrl}]]*/ '';
	/*]]>*/
</script>
<script th:src="@{/assets/js/admin.js}"></script>
</body>
</html>