<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/general.html :: head('Event erstellen')"/>

	<link rel="stylesheet" th:href="@{/assets/3rd/smartwizard/css/smartwizard.css}">
	<link rel="stylesheet"
	      href="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/build/css/tempusdominus-bootstrap-4.min.css"
	      integrity="sha256-VL9T9QfjO/EGCzuu5CtTWWzIksAkGDTs+fO51ALqMjg=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-colorpicker@3.3.0/dist/css/bootstrap-colorpicker.min.css"
	      integrity="sha256-17wSnqdRI9sWIxEZ1cMPunDErwMYQ4ZPzCkSaxjSSoE=" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/assets/css/sizes.css}">
	<link rel="stylesheet" th:href="@{/assets/css/buttons.css}">
	<link rel="stylesheet" th:href="@{/assets/css/events.css}">
</head>
<body>
<nav th:replace="fragments/navbar.html :: default(false)"></nav>

<section class="content-section">
	<div class="container">
		<div id="smartwizard" class="sw sw-justified sw-theme-dots">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="#step-1">
						<strong>Event</strong> <br>Allgemeine Informationen
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#step-2">
						<strong>Event</strong> <br>Details
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#step-3">
						<strong>Slotliste</strong> <br>Teilnahmeplatzaufzählung
					</a>
				</li>
			</ul>

			<div class="tab-content">
				<div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
					<h3>Allgemeine Informationen</h3>
					<form>
						<div class="form-row">
							<div class="form-group col-md-11">
								<label for="eventName">Titel</label>
								<input id="eventName" class="form-control" type="text" data-dtokey="name"
								       placeholder="Event Name" required>
							</div>
							<div class="form-group col-md-1">
								<div id="eventHidden" class="btn btn-xl btn-wht fa-pull-right" title="Sichtbarkeit">
									<em class="far fa-eye"></em>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="eventDate">Datum</label>
								<div id="datepicker" class="input-group date" data-target-input="nearest">
									<input id="eventDate" class="form-control datetimepicker-input" type="text"
									       data-dtokey="date" data-target="#datepicker" required>
									<div class="input-group-append" data-target="#datepicker"
									     data-toggle="datetimepicker">
										<div class="input-group-text"><em class="far fa-calendar-alt"></em></div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="eventStartTime">Startzeit</label>
								<div id="datetime" class="input-group date" data-target-input="nearest">
									<input id="eventStartTime" class="form-control datetimepicker-input" type="text"
									       data-dtokey="startTime" data-target="#datetime" required>
									<div class="input-group-append" data-target="#datetime"
									     data-toggle="datetimepicker">
										<div class="input-group-text"><em class="far fa-clock"></em></div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="eventCreator">Ersteller</label>
								<input id="eventCreator" class="form-control" type="text"
								       data-dtokey="creator" th:value="${#authentication.name}" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-8">
								<label for="eventTypeTitle">Event-Typ-Name</label>
								<input id="eventTypeTitle" class="form-control" type="text" data-dtokey="eventType.name"
								       placeholder="Name" required>
							</div>
							<div class="form-group input-group col-md-4">
								<label for="eventTypeColor">Event-Typ-Farbe</label>
								<div id="colorPicker" class="input-group" data-target-input="nearest">
									<input id="eventTypeColor" class="form-control js-color-picker" type="text"
									       data-dtokey="eventType.color" data-target="#colorPicker" required>
									<div class="input-group-append" data-target="#colorPicker">
										<div class="input-group-text colorpicker-input-addon"><i></i></div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="eventDescription">Beschreibung</label>
							<textarea id="eventDescription" class="form-control" type="text" data-dtokey="description"
							          placeholder="Beschreibung"></textarea>
						</div>
						<div class="form-row align-items-center">
							<div class="form-group col-md-4">
								<label for="eventMissionType">Missionstyp</label>
								<select id="eventMissionType" class="form-control custom-select"
								        data-dtokey="missionType">
									<option selected disabled>Auswählen...</option>
									<option th:each="missionType : ${T(de.webalf.slotbot.model.dtos.AbstractEventDto).getMISSION_TYPES()}"
									        th:text="${missionType}"></option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="eventMissionLength">Missionslänge</label>
								<input id="eventMissionLength" class="form-control custom-select" type="text"
								       list="missionLengths" data-dtokey="missionLength" placeholder="Freitext">
								<datalist id="missionLengths">
									<option>2 Stunden</option>
									<option>3 Stunden</option>
									<option>über 4 Stunden</option>
								</datalist>
							</div>
							<div class="form-group col-md-4">
								<label for="eventPicture">
									Bild-URL
								</label>
								<input id="eventPicture" class="form-control" type="text" data-dtokey="pictureUrl">
							</div>
						</div>
					</form>
				</div>

				<div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
					<h3>Details</h3>
					<form>
						<div id="eventDetails" class="js-sortable"></div>
						<div id="addFieldWrapper">
							<button id="addField" type="button" class="btn btn-success rounded-circle">
								<em class="fas fa-plus"></em>
							</button>
							<span> Feld hinzufügen</span>
							<small id="fieldCounter" class="bg-success p-1"><span id="fieldCounterCount">0</span>/23</small>
						</div>
					</form>
				</div>

				<div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
					<div class="row">
						<div class="col-md-9">
							<h3>Teilnahmeplatzaufzählung</h3>
						</div>
						<div class="col-md-3">
							<div id="renumber" class="btn btn-secondary float-right" type="button">Neu nummerieren</div>
						</div>
					</div>
					<form>
						<div id="squads" class="js-sortable js-wizard">
							<div id="addSquad" type="button" class="btn btn-success rounded-circle"
							     title="Squad hinzufügen">
								<em class="fas fa-plus"></em>
							</div>
						</div>

						<div id="uniqueSlotNumbersError" class="alert alert-danger" role="alert" style="display: none">
							Slotnummern müssen eindeutig sein. Bitte korrigieren.
						</div>

						<div class="form-row">
							<div class="col-md-12 mt-2 custom-control custom-checkbox">
								<input id="eventReserveParticipating" class="custom-control-input" type="checkbox"
								       data-dtokey="reserveParticipating">
								<label for="eventReserveParticipating" class="custom-control-label">
									Darf die Reserve mitspielen?
								</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<footer th:insert="fragments/general.html :: footer"></footer>

<script th:replace="fragments/scripts.html :: jqueryANDpopperANDbootstrap"></script>
<script th:replace="fragments/scripts.html :: jqueryuiANDmomentANDtempusdominusANDcolorpicker"></script>
<script th:replace="fragments/scripts.html :: smartwizard"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	const eventsUrl = /*[[${eventsUrl}]]*/ '';
	const postEventUrl = /*[[${postEventUrl}]]*/ '';
	const eventDetailsUrl = /*[[${eventDetailsUrl}]]*/ '';
	/*]]>*/
</script>
<script th:src="@{/assets/js/eventSave.js}"></script>
<script th:src="@{/assets/js/details.js}"></script>
<script th:src="@{/assets/js/slotList.js}"></script>
<script th:src="@{/assets/js/eventWizard.js}"></script>
</body>
</html>