<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>AMB - Event</title>

	<meta property="og:image" content="/assets/img/amb_logo.jpg">
	<meta property="og:type" content="website">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/img/favicon/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/img/favicon/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/img/favicon/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/assets/img/favicon/site.webmanifest}">

	<link rel="stylesheet" th:href="@{/assets/3rd/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
	      integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/assets/css/globalStyles.css}">
	<link rel="stylesheet" th:href="@{/assets/css/btnFit.css}">
	<link rel="stylesheet" th:href="@{/assets/css/events.css}">
	<link rel="stylesheet" th:href="@{/assets/css/eventDetails.css}">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-md" id="mainNav">
	<div class="container">
		<div>
			<a th:href="${startUrl}">
				<img class="navbar-logo" th:attr="src=@{/assets/img/amb_logo.jpg}" alt="AMB">
				<a class="navbar-brand" th:href="${startUrl}">Arma macht Bock</a>
			</a>
		</div>
		<button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbar"
		        type="button" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
		        value="Menu">
			<em class="fa fa-bars"></em>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item nav-link" role="presentation">
					<a class="nav-link active" th:href="${eventsUrl}">Kalender</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<section class="content-section">
	<div class="container">
		<div class="row mb-3">
			<div class="col-md-4">
				<div id="event-img">
					<img th:unless="${#strings.isEmpty(event.pictureUrl)}" class="img-fluid" alt="Custom Event Bild"
					     th:src="${event.pictureUrl}"/>
					<img th:if="${#strings.isEmpty(event.pictureUrl)}" class="img-fluid" alt="Event Bild"
					     src="https://cdn.discordapp.com/attachments/759147249325572097/759147455483740191/AM-Blau-big-bananemitschokokuchen.jpg"/>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-11">
						<h1 th:text="${event.name}">Event Titel</h1>
					</div>
					<div class="col-md-1 float-right" th:if="${hasEventManageRole}">
						<div id="eventEdit" class="btn btn-fit" type="button"><em class="fa fa-edit"></em></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h5 th:text="${event.date + ', ' + event.startTime + ' Uhr'}">Datum</h5>
					</div>
					<div class="col-md-6" th:unless="${#strings.isEmpty(event.missionLength)}">
						<h6 th:text="${'(Dauer: ' + event.missionLength + ')'}"></h6>
					</div>
				</div>

				<a th:unless="${#strings.isEmpty(event.channelUrl)}" class="btn btn-sm btn-default viewMore"
				   role="button" th:href="${event.channelUrl}" target="_blank" rel="noopener noreferrer">
					In Discord öffnen
				</a>
				<button th:if="${#strings.isEmpty(event.channelUrl) && hasEventManageRole}" type="button"
				        class="btn btn-primary" data-toggle="modal" data-target="#channelModal">
					Kanal hinzufügen
				</button>
				<div class="modal fade" id="channelModal" tabindex="-1" role="dialog"
				     aria-labelledby="addChannelLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="addChannelLabel">Kanal hinzufügen</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<p>
										Um dieses Event einem Kanal zuzuordnen, kopiere diesen Befehl in den zugehörigen
										Event-Kanal.
									</p>
									<div class="copy-to-clipboard">
										<!--suppress HtmlFormInputWithoutLabel -->
										<input class="text-primary" type="text"
										       th:value="${'!addEventToChannel ' + event.id}"
										       title="Klicken zum Kopieren" readonly>
									</div>
									<div class='copied'></div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
							</div>
						</div>
					</div>
				</div>

				<div th:unless="${#strings.isEmpty(event.description)}">
					<p th:text="${event.description}" class="mb-0 text-truncate"></p>
					<a class="btn btn-sm btn-default viewMore" data-toggle="collapse" aria-expanded="false"
					   aria-controls="collapse-1" role="button" href="#collapse-1"></a>
					<div id="collapse-1" class="collapse">
						<p th:utext="${#strings.replace(#strings.escapeXml(event.description),'&#10;','&lt;br&gt;')}">
							Beschreibung
						</p>
					</div>
				</div>
			</div>
		</div>
		<ul class="nav nav-tabs mb-2" role="tablist">
			<li class="nav-item">
				<a id="slotlist-tab" class="nav-link active" data-toggle="tab" href="#slotlist" role="tab"
				   aria-controls="slotlist" aria-selected="true">Slotliste</a>
			</li>
			<li class="nav-item">
				<a id="details-tab" class="nav-link" data-toggle="tab" href="#details" role="tab"
				   aria-controls="details" aria-selected="false">Weitere Details</a>
			</li>
		</ul>
		<div class="row">
			<div class="col-md-12">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="slotlist" role="tabpanel" aria-labelledby="slotlist-tab">
						<p class="text-center" th:if="${#lists.isEmpty(event.squadList)}">Keine Slotliste vorhanden.</p>
						<div id="squads" th:unless="${#lists.isEmpty(event.squadList)}">
							<div th:each="squad : ${event.squadList}">
								<div class="form-group complete-squad">
									<div class="form-row align-items-center js-squad ">
										<div class="col-md-12">
											<p class="mb-1" th:text="${squad.name}"></p>
										</div>
									</div>

									<div th:unless="${#lists.isEmpty(squad.slotList)}"
									     th:each="slot : ${squad.slotList}">
										<div class="ml-5 js-slots">
											<div class="form-row align-items-center js-slot">
												<div class="col-auto slot-number">
													<p class="mb-1" th:text="${slot.number}"></p>
												</div>
												<div class="col-md-5">
													<p class="mb-1" th:text="${slot.name}"></p>
												</div>
												<div th:if="${#strings.isEmpty(slot.text)}">
													<p class="mb-1 font-weight-bold">Freier Slot</p>
												</div>
												<div th:unless="${#strings.isEmpty(slot.text)}">
													<p class="mb-1" th:classappend="${slot.blocked} ? font-italic : ''"
													   th:text="${slot.text}"></p>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
						<div class="row"
						     th:unless="${#strings.isEmpty(event.missionType) && #strings.isEmpty(event.respawn)}">
							<div class="col-md-4">
								<label>Missionstyp</label>
							</div>
							<div class="col-md-8">
								<p class="mb-0" th:text="${event.getMissionTypeRespawnString()}"></p>
							</div>
						</div>
						<div class="row" th:if="${event.reserveParticipating != null}">
							<div class="col-md-4">
								<label>Kann die Reserve mitspielen?</label>
							</div>
							<div class="col-md-8">
								<p class="mb-0" th:text="${event.reserveParticipating ? 'Ja' : 'Nein'}">Ja</p>
							</div>
						</div>
						<div class="row" th:unless="${#strings.isEmpty(event.modPack)}">
							<div class="col-md-4">
								<label>Modpack</label>
							</div>
							<div class="col-md-8">
								<div th:switch="${event.modPack}">
									<p class="mb-0" th:case="'2008_ArmaMachtBock'">
										<a th:href="@{/assets/download/Arma_3_Preset_AmB.html}" download>AMB</a>
									</p>
									<p class="mb-0" th:case="'Joined_Operations_2020'">
										<a th:href="@{/assets/download/Joined_Operations_2020.html}" download>
											Joint Ops
										</a>
									</p>
									<p class="mb-0" th:case="*" th:text="${event.modPack}"></p>
								</div>
							</div>
						</div>
						<div class="row" th:unless="${#strings.isEmpty(event.technicalTeleport)}">
							<div class="col-md-4">
								<label>Technischer Teleport</label>
							</div>
							<div class="col-md-8">
								<p class="mb-0" th:text="${event.technicalTeleport}"></p>
							</div>
						</div>
						<div class="row" th:unless="${#strings.isEmpty(event.medicalSystem)}">
							<div class="col-md-4">
								<label>Medic-System</label>
							</div>
							<div class="col-md-8">
								<p class="mb-0" th:text="${event.medicalSystem}"></p>
							</div>
						</div>
						<div class="row" th:unless="${#strings.isEmpty(event.map)}">
							<div class="col-md-4">
								<label>Karte</label>
							</div>
							<div class="col-md-8">
								<p class="mb-0" th:text="${event.map}"></p>
							</div>
						</div>
						<div class="row" th:unless="${#strings.isEmpty(event.missionTime)}">
							<div class="col-md-4">
								<label>Missionszeit</label>
							</div>
							<div class="col-md-8">
								<p class="mb-0" th:text="${event.missionTime}"></p>
							</div>
						</div>
						<div class="row" th:unless="${#strings.isEmpty(event.navigation)}">
							<div class="col-md-4">
								<label>Navigationssysteme</label>
							</div>
							<div class="col-md-8">
								<p class="mb-0" th:text="${event.navigation}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer id="footer">
	<div class="container text-center">
		<p>Copyright ©&nbsp;Alf 2020</p>
	</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"
        integrity="sha256-ecWZ3XYM7AwWIaGvSdmipJ2l1F4bN9RXW6zgpeAiZYI=" crossorigin="anonymous"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	const eventEditUrl = /*[[${eventEditUrl}]]*/ '';
	/*]]>*/
</script>
<script th:src="@{/assets/js/eventDetails.js}"></script>
</body>
</html>