<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/general.html :: head('Events')"/>
	<meta property="og:title" content="Die gesamte Liste aller Events. Schon beim Nächsten dabei?">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css"
	      integrity="sha256-16PDMvytZTH9heHu9KBPjzrFTaoner60bnABykjNiM0=" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/assets/css/spinner.css}">
	<link rel="stylesheet" th:href="@{/assets/css/events.css}">
</head>
<body>
<nav th:replace="fragments/navbar.html :: default(false)"></nav>

<section class="content-section">
	<div class="container">
		<h1 class="text-center">Events</h1>
		<div id="calendar"></div>

		<div id="spinner">
			<div class="spinner spinner-grow text-info" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			<div class="modal-backdrop show"></div>
		</div>
	</div>
</section>

<footer th:insert="fragments/general.html :: footer"></footer>

<script th:replace="fragments/scripts.html :: jqueryANDpopperANDbootstrap"></script>
<script th:replace="fragments/scripts.html :: fullcalendar"></script>
<script th:src="@{/assets/js/spinner.js}"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	const getEventsUrl = /*[[${getEventsUrl}]]*/ '';
	const createEventUrl = /*[[${createEventUrl}]]*/ '';
	const authentication = /*[[${#authentication}]]*/ '';
	const canManageEvents = /*[[${canManageEvents}]]*/ '';
	/*]]>*/
</script>
<script th:src="@{/assets/js/events.js}"></script>
</body>
</html>