<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>AMB - Event erstellen</title>

	<meta property="og:image" content="/assets/img/amb_logo.jpg">
	<meta property="og:type" content="website">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/img/favicon/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/img/favicon/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/img/favicon/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/assets/img/favicon/site.webmanifest}">

	<link rel="stylesheet" th:href="@{/assets/3rd/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/3rd/smartwizard/css/smartwizard.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
	      integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
	<link rel="stylesheet"
	      href="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.1.2/build/css/tempusdominus-bootstrap-4.min.css"
	      integrity="sha256-vi00YWza8MRCSI5GdsFLptAZIULny5MPn62PxEf/ZTY=" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/assets/css/globalStyles.css}">
	<link rel="stylesheet" th:href="@{/assets/css/buttons.css}">
	<link rel="stylesheet" th:href="@{/assets/css/events.css}">
</head>
<body>
<nav class="navbar navbar-light" id="mainNav">
	<div class="container">
		<div>
			<a th:href="${startUrl}">
				<img class="navbar-logo" th:attr="src=@{/assets/img/amb_logo.jpg}" alt="AMB">
				<a class="navbar-brand" th:href="${startUrl}">Arma macht Bock</a>
			</a>
		</div>
	</div>
</nav>

<section class="content-section">
	<div class="container">
		<div id="smartwizard" class="sw sw-justified sw-theme-dots">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="#step-1">
						<strong>Event</strong> <br>Allgemeine Informationen
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#step-2">
						<strong>Event</strong> <br>Details
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#step-3">
						<strong>Slotliste</strong> <br>Teilnahmeplatzaufzählung
					</a>
				</li>
			</ul>

			<div class="tab-content">
				<div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
					<h3>Allgemeine Informationen</h3>
					<form>
						<div class="form-row">
							<div class="form-group col-md-11">
								<label for="eventName">Titel</label>
								<input id="eventName" class="form-control" type="text" data-dtokey="name"
								       placeholder="Event Name" required>
							</div>
							<div class="form-group col-md-1">
								<div id="eventHidden" class="btn btn-xl btn-wht pull-right" title="Sichtbarkeit">
									<em class="fa fa-eye"></em>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="eventDate">Datum</label>
								<div id="datepicker" class="input-group date" data-target-input="nearest">
									<input id="eventDate" class="form-control datetimepicker-input" type="text"
									       data-dtokey="date" data-target="#datepicker" required>
									<div class="input-group-append" data-target="#datepicker"
									     data-toggle="datetimepicker">
										<div class="input-group-text"><em class="fa fa-calendar"></em></div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="eventStartTime">Startzeit</label>
								<div id="datetime" class="input-group date" data-target-input="nearest">
									<input id="eventStartTime" class="form-control datetimepicker-input" type="text"
									       data-dtokey="startTime" data-target="#datetime" required>
									<div class="input-group-append" data-target="#datetime"
									     data-toggle="datetimepicker">
										<div class="input-group-text"><em class="fa fa-clock-o"></em></div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="eventCreator">Ersteller</label>
								<input id="eventCreator" class="form-control" type="text"
								       data-dtokey="creator" th:value="${#authentication.name}" required>
							</div>
						</div>
						<div class="form-group">
							<label for="eventDescription">Beschreibung</label>
							<textarea id="eventDescription" class="form-control" type="text" data-dtokey="description"
							          placeholder="Beschreibung"></textarea>
						</div>
						<div class="form-row align-items-center">
							<div class="form-group col-md-2">
								<label for="eventMissionType">Missionstyp</label>
								<select id="eventMissionType" class="form-control custom-select"
								        data-dtokey="missionType">
									<option selected disabled>Auswählen...</option>
									<option th:each="missionType : ${T(de.webalf.slotbot.model.dtos.website.EventDetailsDto).getMISSION_TYPES()}"
									        th:text="${missionType}"></option>
								</select>
							</div>
							<div class="col-md-2">
								<div class="custom-control custom-checkbox mr-sm-2">
									<input id="eventRespawn" class="custom-control-input" type="checkbox"
									       data-dtokey="respawn">
									<label class="custom-control-label" for="eventRespawn">Respawn</label>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="eventMissionLength">Missionslänge</label>
								<input id="eventMissionLength" class="form-control custom-select" type="text"
								       list="missionLengths" data-dtokey="missionLength">
								<datalist id="missionLengths">
									<option>2 Stunden</option>
									<option>3 Stunden</option>
									<option>über 4 Stunden</option>
								</datalist>
							</div>
							<div class="form-group col-md-4">
								<label for="eventModPack">Modpack</label>
								<input id="eventModPack" class="form-control custom-select" type="text"
								       list="modPacks" data-dtokey="modPack" value="2012_ArmaMachtBock">
								<datalist id="modPacks">
									<option th:each="modPack : ${T(de.webalf.slotbot.model.dtos.website.EventDetailsDto).getMOD_PACKS()}"
									        th:text="${modPack}"></option>
								</datalist>
							</div>
						</div>
					</form>
				</div>

				<div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
					<h3>Details</h3>
					<form>
						<div class="form-row mb-4">
							<div class="form-group col-md-4">
								<label for="eventMap">Karte</label>
								<select id="eventMap" class="form-control custom-select" data-dtokey="map">
									<option selected disabled>Auswählen...</option>
									<option th:each="map : ${T(de.webalf.slotbot.model.dtos.website.EventDetailsDto).getMAPS()}"
									        th:text="${map}"></option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="eventTechnicalTeleport">Technischer Teleport</label>
								<input id="eventTechnicalTeleport" class="form-control" type="text"
								       data-dtokey="technicalTeleport" placeholder="Objekt, Position etc.">
							</div>
							<div class="form-group col-md-4">
								<label for="eventMedicalSystem">Medic-System</label>
								<input id="eventMedicalSystem" class="form-control" type="text"
								       data-dtokey="medicalSystem" value="AMB">
							</div>
						</div>
						<div class="form-row align-items-center mb-4">
							<div class="form-group col-md-4">
								<div class="custom-control custom-checkbox">
									<input id="eventReserveParticipating" class="custom-control-input" type="checkbox"
									       data-dtokey="reserveParticipating">
									<label for="eventReserveParticipating" class="custom-control-label">
										Darf die Reserve mitspielen?
									</label>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="eventMissionTime">Missionszeit</label>
								<input id="eventMissionTime" class="form-control" type="text"
								       data-dtokey="missionTime" placeholder="Dämmerung, Tag, Nacht, ...">
							</div>
							<div class="form-group col-md-4">
								<label for="eventNavigation">Navigation</label>
								<input id="eventNavigation" class="form-control" type="text"
								       data-dtokey="navigation" placeholder="GPS, Karte, Kompass, Nichts, ...">
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4"></div>
							<div class="form-group col-md-8">
								<label for="eventPicture">
									Bild-URL
								</label>
								<input id="eventPicture" class="form-control" type="text" data-dtokey="pictureUrl">
							</div>
						</div>
					</form>
				</div>

				<div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
					<h3>Teilnahmeplatzaufzählung</h3>
					<form>
						<div id="squads" class="js-sortable">
							<div class="form-group js-complete-squad">
								<div class="form-row align-items-center js-squad">
									<div><em class="fa fa-arrows-v"></em></div>
									<div class="col-md-11">
										<!--suppress HtmlFormInputWithoutLabel -->
										<input class="form-control js-squad-name" type="text" placeholder="Squad Name"
										       required>
									</div>
									<div class="d-flex btn btn-xl btn-wht js-trash" type="button">
										<em class="fa fa-trash-o"></em>
									</div>
								</div>

								<div class="ml-5 js-slots">
									<div class="form-row align-items-center js-slot">
										<div class="col-md-1">
											<!--suppress HtmlFormInputWithoutLabel -->
											<input class="form-control js-slot-number" type="number" min="1" value="1"
											       required>
										</div>
										<div class="col-md-10">
											<!--suppress HtmlFormInputWithoutLabel -->
											<input class="form-control js-slot-name" type="text" placeholder="Slot Name"
											       required>
										</div>
										<div class="col-md-1 d-flex btn btn-xl btn-wht js-trash" type="button">
											<em class="fa fa-trash-o"></em>
										</div>
									</div>
									<div type="button" class="btn btn-success rounded-circle js-add-slot"
									     title="Slot hinzufügen">
										<em class="fa fa-plus"></em>
									</div>
								</div>
							</div>

							<div id="addSquad" type="button" class="btn btn-success rounded-circle"
							     title="Squad hinzufügen">
								<em class="fa fa-plus"></em>
							</div>
						</div>

						<div id="uniqueSlotNumbersError" class="alert alert-danger" role="alert" style="display: none">
							Slotnummern müssen eindeutig sein. Bitte korrigieren.
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<footer id="footer">
	<div class="container text-center">
		<p>
			<a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> ©
			<a href="mailto:awebsite-footer@webalf.de">Alf</a> 2020
		</p>
	</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script th:src="@{/assets/3rd/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/smartwizard@5.1.1/dist/js/jquery.smartWizard.min.js"
        integrity="sha256-ZDS9YBVOz85XYQvtiZg1ZMZOk+4dLz/MpYxxzsg5GdQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment-with-locales.min.js"
        integrity="sha256-E3Snwx6F4t7DiA/L3DgPk6In2M1747JSau+3PWjtS5I=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/dist/locale/de.js"
        integrity="sha256-aWAfUXm/D5kDckGqTrmZBEk9u7GnYegeUgLH0sw7SUk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.1.2/build/js/tempusdominus-bootstrap-4.min.js"
        integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"
        integrity="sha256-ecWZ3XYM7AwWIaGvSdmipJ2l1F4bN9RXW6zgpeAiZYI=" crossorigin="anonymous"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	const eventsUrl = /*[[${eventsUrl}]]*/ '';
	const postEventUrl = /*[[${postEventUrl}]]*/ '';
	const eventDetailsUrl = /*[[${eventDetailsUrl}]]*/ '';
	/*]]>*/
</script>
<script th:src="@{/assets/js/datetimepicker.js}"></script>
<script th:src="@{/assets/js/eventSave.js}"></script>
<script th:src="@{/assets/js/slotList.js}"></script>
<script th:src="@{/assets/js/event.js}"></script>
<script th:src="@{/assets/js/eventWizard.js}"></script>
</body>
</html>