<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/general.html :: head('Event')"/>
	<meta property="og:title" th:content="${event.name}">
	<meta property="og:image" th:content="${event.getPictureUrl()}">

	<link rel="stylesheet" th:href="@{/assets/css/sizes.css}">
	<link rel="stylesheet" th:href="@{/assets/css/buttons.css}">
	<link rel="stylesheet" th:href="@{/assets/css/copy.css}">
	<link rel="stylesheet" th:href="@{/assets/css/events.css}">
	<link rel="stylesheet" th:href="@{/assets/css/eventDetails.css}">
</head>
<body>
<nav th:replace="fragments/navbar.html :: calendarSubPage"></nav>

<section class="content-section">
	<div class="container">
		<div class="row font-d">
			<div class="col-md-12">
				<p class="mb-2">
					<a th:href="${eventsUrl}">
						<em class="fas fa-chevron-circle-left"></em> Zum Event-Kalender
					</a>
					<span> | </span>
					<span class="d-inline-block align-middle rounded square-em-1"
					      th:style="'background-color:' + ${event.eventType.color} + ';'"></span>
					<span th:text="${event.missionType}"></span> <span th:text="${event.eventType.name}"></span>
				</p>
			</div>
		</div>

		<div th:if="${event.hidden}" class="alert alert-warning" role="alert">
			Dieses Event ist für Mitspieler noch nicht sichtbar. Wenn das Slotten beginnen kann, gebe das Event über den
			Editiermodus frei.
		</div>

		<div class="row">
			<div class="col-md-4">
				<div id="event-img">
					<img class="img-fluid" alt="Event Bild" th:src="${event.getPictureUrl()}"/>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row justify-content-start">
					<div th:classappend="${hasEventManageRole ? 'col-md-10' : 'col-md-12'}">
						<h1 th:text="${event.name}">Event Titel</h1>
					</div>
					<div class="col-md-2" th:if="${hasEventManageRole}">
						<div class="row">
							<div id="eventCopy" class="col-auto btn btn-xl btn-wht" type="button"><em class="far fa-clone"></em></div>
							<div id="eventEdit" class="col-auto btn btn-xl btn-wht" type="button"><em class="far fa-edit"></em></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h5 th:text="${event.date + ', ' + event.startTime + ' Uhr'}">Datum</h5>
					</div>
					<div class="col-md-6" th:unless="${#strings.isEmpty(event.missionLength)}">
						<h6 th:text="${'(Dauer: ' + event.missionLength + ')'}"></h6>
					</div>
				</div>

				<a th:unless="${#strings.isEmpty(event.channelUrl)}" class="btn btn-sm btn-default viewMore"
				   role="button" th:href="${event.channelUrl}" rel="noopener noreferrer">
					In Discord öffnen
				</a>
				<button th:if="${#strings.isEmpty(event.channelUrl) && hasEventManageRole}" type="button"
				        class="btn btn-primary" data-toggle="modal" data-target="#channelModal">
					Kanal hinzufügen
				</button>
				<div class="modal fade" id="channelModal" tabindex="-1" role="dialog"
				     aria-labelledby="addChannelLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="addChannelLabel">Kanal hinzufügen</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<p>
										Um dieses Event einem Kanal zuzuordnen, kopiere diesen Befehl in den zugehörigen
										Event-Kanal.
									</p>
									<div class="copy-to-clipboard">
										<!--suppress HtmlFormInputWithoutLabel -->
										<input class="text-primary" type="text"
										       th:value="${'!addEventToChannel ' + event.id}"
										       title="Klicken zum Kopieren" readonly>
									</div>
									<div class='copied'></div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
							</div>
						</div>
					</div>
				</div>

				<div th:unless="${#strings.isEmpty(event.description)}">
					<p th:text="${event.description}" class="mb-0 text-truncate"></p>
					<a class="btn btn-sm btn-default viewMore" data-toggle="collapse" aria-expanded="false"
					   aria-controls="collapse-1" role="button" href="#collapse-1"></a>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-md-12">
				<small>Mission von <em th:text="${event.creator}"></em></small>
			</div>
		</div>

		<div class="row" th:unless="${#strings.isEmpty(event.description)}">
			<div class="col-md-12">
				<div id="collapse-1" class="collapse">
					<p th:utext="${eventDescriptionHtml}">
						Beschreibung
					</p>
				</div>
			</div>
		</div>

		<ul class="nav nav-tabs mb-2" role="tablist">
			<li class="nav-item">
				<a id="slotlist-tab" class="nav-link active" data-toggle="tab" href="#slotlist" role="tab"
				   aria-controls="slotlist" aria-selected="true">Slotliste</a>
			</li>
			<li class="nav-item">
				<a id="details-tab" class="nav-link" data-toggle="tab" href="#details" role="tab"
				   aria-controls="details" aria-selected="false">Weitere Details</a>
			</li>
		</ul>
		<div class="row">
			<div class="col-md-12">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="slotlist" role="tabpanel" aria-labelledby="slotlist-tab">
						<p class="text-center" th:if="${#lists.isEmpty(event.squadList)}">Keine Slotliste vorhanden.</p>
						<div id="squads" th:unless="${#lists.isEmpty(event.squadList)}">
							<div th:each="squad : ${event.squadList}">
								<div class="form-group complete-squad">
									<div class="form-row align-items-center js-squad ">
										<div class="col-md-12">
											<p class="mb-1" th:text="${squad.name}"></p>
										</div>
									</div>

									<div th:unless="${#lists.isEmpty(squad.slotList)}"
									     th:each="slot : ${squad.slotList}">
										<div class="ml-5 js-slots">
											<div class="form-row align-items-center js-slot">
												<div class="col-auto slot-number">
													<p class="mb-1" th:text="${slot.number}"></p>
												</div>
												<div class="col-md-5">
													<p class="mb-1" th:text="${slot.name}"></p>
												</div>
												<div th:if="${#strings.isEmpty(slot.text)}">
													<p class="mb-1 font-weight-bold">Freier Slot</p>
												</div>
												<div th:unless="${#strings.isEmpty(slot.text)}">
													<p class="mb-1" th:classappend="${slot.blocked} ? 'font-italic'"
													   th:text="${slot.text}"></p>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
						<div class="row" th:if="${event.reserveParticipating != null}">
							<div class="col-md-4">
								<label>Kann die Reserve mitspielen?</label>
							</div>
							<div class="col-md-8">
								<p class="mb-0" th:text="${event.reserveParticipating ? 'Ja' : 'Nein'}">Ja</p>
							</div>
						</div>
						<div class="row" th:each="field : ${event.details}">
							<div class="col-md-4">
								<label th:text="${field.title}">Field Name</label>
							</div>
							<div class="col-md-8">
								<p class="mb-0" th:if="${#strings.isEmpty(field.link)}"
								   th:text="${field.text}">Field description</p>
								<p class="mb-0" th:unless="${#strings.isEmpty(field.link)}">
									<a th:href="${field.link}" th:text="${field.text}">Field description with link</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer th:replace="fragments/general.html :: footer(false)"></footer>

<script th:replace="fragments/scripts.html :: jqueryANDbootstrap"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	const createEventUrl = /*[[${createEventUrl}]]*/ '';
	const eventEditUrl = /*[[${eventEditUrl}]]*/ '';
	/*]]>*/
</script>
<script th:src="@{/assets/js/copy.js}"></script>
<script th:src="@{/assets/js/eventDetails.js}"></script>
</body>
</html>