<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/general.html :: head('Event')"/>

	<link rel="stylesheet"
	      href="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/build/css/tempusdominus-bootstrap-4.min.css"
	      integrity="sha256-VL9T9QfjO/EGCzuu5CtTWWzIksAkGDTs+fO51ALqMjg=" crossorigin="anonymous">
	<link rel="stylesheet"
	      href="https://cdn.jsdelivr.net/npm/bootstrap-colorpicker@3.4.0/dist/css/bootstrap-colorpicker.min.css"
	      integrity="sha256-7SslyHoVdr2J/6Skyb7+Yrh2aMYKENizcxQpZ11OtZ0=" crossorigin="anonymous">
	<link th:replace="fragments/styles.html :: editable">
	<link rel="stylesheet" th:href="@{/assets/css/sizes.css}">
	<link rel="stylesheet" th:href="@{/assets/css/positions.css}">
	<link rel="stylesheet" th:href="@{/assets/css/buttons.css}">
	<link rel="stylesheet" th:href="@{/assets/css/events.css}">
</head>
<body>
<nav th:replace="fragments/navbar.html :: calendarSubPage"></nav>

<section class="content-section">
	<div class="container">
		<div>
			<a class="font-s" th:href="${eventDetailsUrl}">
				<em class="fas fa-chevron-circle-left"></em> Zurück
			</a>
		</div>

		<h3>Allgemeine Informationen</h3>
		<form>
			<div class="form-row">
				<div class="form-group col-md-11">
					<label for="eventName">Titel</label>
					<a id="eventName" class="form-control" href="#"></a>
				</div>
				<div class="form-group col-md-1 d-flex align-items-center">
					<div id="eventShareable" class="btn btn-xl btn-wht p-0"
					     th:classappend="${canRevokeShareable} ? 'btn-wht js-shareable' : 'btn-denied'"
					     th:title="${canRevokeShareable} ? 'Teilbarkeit' : 'Wurde bereits von einer anderen Community hinzugefügt'">
						<em class="fas" th:classappend="${event.shareable} ? 'fa-users' : 'fa-users-slash'"></em>
					</div>
					<div id="eventHidden" class="btn btn-xl btn-wht pl-1 p-0" title="Sichtbarkeit">
						<em class="far" th:classappend="${event.hidden} ? 'fa-eye-slash' : 'fa-eye'"></em>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="eventDate">Datum</label>
					<div id="datepicker" class="input-group date" data-target-input="nearest">
						<input id="eventDate" class="form-control datetimepicker-input" type="text"
						       data-dtokey="date" data-target="#datepicker" required th:value="${event.date}">
						<div class="input-group-append" data-target="#datepicker"
						     data-toggle="datetimepicker">
							<div class="input-group-text"><em class="far fa-calendar-alt"></em></div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="eventStartTime">Startzeit</label>
					<div id="datetime" class="input-group date" data-target-input="nearest">
						<input id="eventStartTime" class="form-control datetimepicker-input" type="text"
						       data-dtokey="startTime" data-target="#datetime" required th:value="${event.startTime}">
						<div class="input-group-append" data-target="#datetime"
						     data-toggle="datetimepicker">
							<div class="input-group-text"><em class="far fa-clock"></em></div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="eventCreator">Ersteller</label>
					<a id="eventCreator" class="form-control" href="#"></a>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="eventTypeName">Event-Typ-Name</label>
					<input id="eventTypeName" class="form-control custom-select" type="text"
					       list="eventTypes" placeholder="Name" required th:value="${event.eventType.name}">
					<datalist id="eventTypes">
						<option th:each="eventType : ${eventTypes}"
						        th:text="${eventType.name}" th:data-color="${eventType.color}"></option>
					</datalist>
				</div>
				<div class="form-group input-group col-md-4">
					<label for="eventTypeColor">Event-Typ-Farbe</label>
					<div id="colorPicker" class="input-group" data-target-input="nearest">
						<input id="eventTypeColor" class="form-control js-color-picker" type="text"
						       data-target="#colorPicker" required th:value="${event.eventType.color}">
						<div class="input-group-append" data-target="#colorPicker">
							<div class="input-group-text colorpicker-input-addon"><i></i></div>
						</div>
					</div>
				</div>
				<div class="col-md-2 pt-4">
					<div id="btnSaveType" class="btn btn-primary float-right">Typ Speichern</div>
				</div>
			</div>
			<div class="form-group">
				<label for="eventDescription">Beschreibung</label>
				<textarea id="eventDescription" class="form-control"></textarea>
			</div>
			<div class="form-row align-items-center">
				<div class="form-group col-md-4">
					<label for="eventMissionType">Missionstyp</label>
					<select id="eventMissionType" class="form-control custom-select" data-dtokey="missionType"
					        th:with="missionTypeEmpty=${#strings.isEmpty(event.missionType)}">
						<option th:text="${missionTypeEmpty} ? 'Auswählen...' : ${event.missionType}" selected
						        th:disabled="${missionTypeEmpty}">
							Auswählen...
						</option>
						<option th:each="missionType : ${event.getMissionTypesFiltered()}"
						        th:text="${missionType}"></option>
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="eventMissionLength">Missionslänge</label>
					<a id="eventMissionLength" class="form-control custom-select" href="#"></a>
					<datalist id="missionLengths">
						<option>2 Stunden</option>
						<option>3 Stunden</option>
						<option>über 4 Stunden</option>
					</datalist>
				</div>
				<div class="form-group col-md-4">
					<label for="eventPicture">Bild-URL</label>
					<a id="eventPicture" class="form-control overflow-hidden" href="#"></a>
				</div>
			</div>
		</form>

		<hr class="solid bg-light">

		<div class="row">
			<div class="col-md-9">
				<h3>Details</h3>
			</div>
			<div class="col-md-3">
				<div id="addDefaultFields" class="btn btn-secondary" type="button"
				     data-toggle="modal" data-target="#addDefaultFieldsWarning"></div>
			</div>
		</div>
		<form>
			<div id="eventDetails" class="js-sortable"></div>
			<div id="addFieldWrapper">
				<button id="addField" type="button" class="btn btn-success rounded-circle">
					<em class="fas fa-plus"></em>
				</button>
				<span> Feld hinzufügen</span>
				<small id="fieldCounter" class="bg-success p-1">
					<span id="fieldCounterCount">0</span>/23
				</small>
			</div>

			<div class="form-row">
				<div class="col-md-12">
					<div id="btnSaveFields" class="btn btn-primary float-right">Felder speichern</div>
				</div>
			</div>
		</form>

		<hr class="solid bg-light">

		<div class="row">
			<div class="col-md-7">
				<h3>Teilnahmeplatzaufzählung</h3>
			</div>
			<div class="col-md-5">
				<button id="uploadSlotlist" class="btn btn-secondary mr-2" type="button"
				        th:classappend="${!canUploadSlotlist} ? 'btn-denied'" th:disabled="${!canUploadSlotlist}"
				        th:title="${!canUploadSlotlist} ? 'Zum Hochladen einer Slotliste muss das Event leer sein'"
				     data-toggle="modal" data-target="#uploadSlotlistModal">Slotliste hochladen
				</button>
				<div id="renumber" class="btn btn-secondary" type="button">Neu nummerieren</div>
			</div>
		</div>
		<form>
			<div id="squads" class="js-sortable">
				<div class="form-group js-complete-squad" th:each="squad : ${event.squadList}"
				     th:data-squadid="${squad.id}">
					<div class="form-row align-items-center js-squad">
						<div><em class="fas fa-arrows-alt-v"></em></div>
						<div class="col-md-11">
							<!--suppress HtmlFormInputWithoutLabel -->
							<input class="form-control js-squad-name" type="text" placeholder="Squad Name"
							       required th:value="${squad.name}" th:disabled="${squad.isReserve()}">
						</div>
						<div th:unless="${squad.isNotEmpty() || squad.isReserve()}" class="d-flex btn btn-xl btn-wht js-trash" type="button">
							<em class="far fa-trash-alt"></em>
						</div>
						<div th:if="${squad.isNotEmpty()}" class="d-flex btn btn-xl btn-denied"
						     title="Squad enthält nicht leere Slots">
							<em class="far fa-trash-alt"></em>
						</div>
					</div>

					<div class="ml-5 js-slots">
						<div class="form-row align-items-center js-slot" th:each="slot : ${squad.slotList}"
						     th:data-slotid="${slot.id}">
							<div class="col-md-1">
								<!--suppress HtmlFormInputWithoutLabel -->
								<input class="form-control js-slot-number" type="number" min="1" value="1"
								       required th:value="${slot.number}" th:disabled="${squad.isReserve()}">
							</div>
							<div class="col-md-10">
								<!--suppress HtmlFormInputWithoutLabel -->
								<input class="form-control js-slot-name" type="text" placeholder="Slot Name"
								       required th:value="${slot.name}" th:disabled="${squad.isReserve()}">
							</div>
							<div th:unless="${squad.isReserve()}" class="col-md-1 d-flex">
								<button th:unless="${slot.isBlocked()}" class="btn btn-xl p-0 pr-1 js-lock"
								     th:classappend="${slot.isOccupied()} ? 'btn-denied' : 'btn-lock'"
								     th:disabled="${slot.isOccupied()}"
								     type="button" title="Blockierung">
									<em class="fas fa-lock-open"></em>
								</button>
								<div th:if="${slot.isBlocked()}" class="btn btn-xl p-0 pr-1 js-lock js-blocked btn-lock"
								     th:disabled="${slot.isOccupied()}"
								     type="button" title="Blockierung">
									<em class="fas fa-lock"></em>
								</div>
								<div th:unless="${slot.isOccupied()}" class="btn btn-xl btn-wht p-0 js-trash"
								     type="button">
									<em class="far fa-trash-alt"></em>
								</div>
								<div th:if="${slot.isOccupied()}" class="btn btn-xl btn-denied p-0"
								     title="Dieser Slot ist belegt">
									<em class="far fa-trash-alt"></em>
								</div>
							</div>
						</div>
						<div th:unless="${squad.isReserve()}" type="button" title="Slot hinzufügen"
						     class="btn btn-success rounded-circle js-add-slot">
							<em class="fas fa-plus"></em>
						</div>
					</div>
				</div>

				<div id="addSquad" type="button" class="btn btn-success rounded-circle"
				     title="Squad hinzufügen">
					<em class="fas fa-plus"></em>
				</div>
			</div>

			<div id="uniqueSlotNumbersError" class="alert alert-danger" role="alert" style="display: none">
				Slotnummern müssen eindeutig sein. Bitte korrigieren.
			</div>

			<div class="form-row mt-2">
				<div class="form-group col-md-6">
					<div class="custom-control custom-checkbox">
						<input id="eventReserveParticipating" class="custom-control-input" type="checkbox"
						       data-dtokey="reserveParticipating" th:checked="${event.reserveParticipating}">
						<label for="eventReserveParticipating" class="custom-control-label">
							Darf die Reserve mitspielen?
						</label>
					</div>
				</div>
				<div class="col-md-6">
					<div id="btnSaveSlotlist" class="btn btn-primary float-right" tabindex="0" data-toggle="popover"
					     data-trigger="focus" data-content="Alle Pflichtfelder ausfüllen!">
						Slotliste speichern
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<!--Add default fields warning-->
<div th:replace="fragments/modals.html :: addDefaultFieldsWarning"></div>
<div th:if="${canUploadSlotlist}" th:replace="fragments/modals.html :: uploadSlotlistModal"></div>
<div th:replace="fragments/toasts.html"></div>

<footer th:insert="fragments/general.html :: footer"></footer>

<script th:replace="fragments/scripts.html :: jqueryANDpopperANDbootstrap"></script>
<script th:replace="fragments/scripts.html :: jqueryuiANDmomentANDtempusdominusANDcolorpicker"></script>
<script th:src="@{/assets/js/colorpicker.js}"></script>
<script th:replace="fragments/scripts.html :: xeditable"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	const eventsUrl = /*[[${eventsUrl}]]*/ '';
	const savedEvent = /*[[${event}]]*/ '';
	const eventFieldDefaultsUrl = /*[[${eventFieldDefaultsUrl}]]*/ '';
	const uploadSqmFileUrl = /*[[${uploadSqmFileUrl}]]*/ '';
	const putEventEditableUrl = /*[[${putEventEditableUrl}]]*/ '';
	const eventDetailsUrl = /*[[${eventDetailsUrl}]]*/ '';
	const putEventUrl = /*[[${putEventUrl}]]*/ '';

	const defaultUserId = /*[[${T(de.webalf.slotbot.model.User).DEFAULT_USER_ID}]]*/ '';
	/*]]>*/
</script>
<script th:src="@{/assets/js/eventSave.js}"></script>
<script th:src="@{/assets/js/eventFields.js}"></script>
<script th:src="@{/assets/js/slotList.js}"></script>
<script th:if="${canUploadSlotlist}" th:src="@{/assets/js/uploadSqmFile.js}"></script>
<script th:src="@{/assets/js/eventEdit.js}"></script>
</body>
</html>