<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta th:replace="fragments/general.html :: head('Login')"/>

	<link rel="stylesheet" th:href="@{/assets/css/login.css}">
</head>
<body>
<nav th:replace="fragments/navbar.html :: default(true)"></nav>

<section class="content-section text-center">
	<div class="container">
		<div class="alert alert-danger" role="alert" th:if="${#request.getParameter('error') != null}">
			Es ist ein Fehler beim Login aufgetreten. Bitte später erneut versuchen.
		</div>

		<h1>Discord Login</h1>
		<div sec:authorize="isAuthenticated()">
			Hello, <strong th:text="${#authentication.name}">User</strong>!
		</div>
		<div sec:authorize="isAnonymous()">
			<a th:href="@{/oauth2/authorization/discord}" class="button text-uppercase">Login mit Discord</a>
		</div>

		<!--May be re-enabled with thymeleaf-extras-springsecurity5 version >=3.0.5 (https://github.com/thymeleaf/thymeleaf-extras-springsecurity/pull/75)-->
		<!--<p th:utext="${#authentication}" style="display: none;">Utext</p>-->
	</div>
</section>

<footer th:replace="fragments/general.html :: footer(true)"></footer>
</body>
</html>