<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>AMB - Login</title>

	<meta property="og:image" content="/assets/img/amb_logo.jpg">
	<meta property="og:type" content="website">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{assets/img/favicon/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{assets/img/favicon/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{assets/img/favicon/favicon-16x16.png}">
	<link rel="manifest" th:href="@{assets/img/favicon/site.webmanifest}">

	<link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{assets/css/globalStyles.css}">
	<link rel="stylesheet" th:href="@{assets/css/login.css}">
</head>
<body>
<nav class="navbar navbar-light fixed-top" id="mainNav">
	<div class="container">
		<div>
			<a th:href="${startUrl}">
				<img class="navbar-logo" th:attr="src=@{assets/img/amb_logo.jpg}" alt="AMB">
				<a class="navbar-brand" th:href="${startUrl}">Arma macht Bock</a>
			</a>
		</div>
	</div>
</nav>

<section class="content-section text-center">
	<div class="container">
		<div sec:authorize="isAuthenticated()">
			Hello, <strong th:text="${#authentication.name}">User</strong>!
		</div>

		<p th:utext="${#authentication}" style="display: none;">Utext</p>

		<div sec:authorize="isAnonymous()">
			<h1>Discord Login</h1>
			<a th:href="@{/oauth2/authorization/discord}" class="button text-uppercase">Login mit Discord</a>
		</div>
	</div>
</section>

<footer id="footer" class="fixed-bottom">
	<div class="container text-center">
		<p>Copyright ©&nbsp;Alf 2020</p>
	</div>
</footer>
</body>
</html>