<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>AMB - Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta property="og:image" content="/assets/img/amb_logo.jpg">
	<meta property="og:type" content="website">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/img/favicon/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/img/favicon/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/img/favicon/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/assets/img/favicon/site.webmanifest}">

	<link rel="stylesheet" th:href="@{assets/css/login.css}">
</head>
<body>
<section class="section">
	<div class="container">
		<div sec:authorize="isAuthenticated()">
			Hello, <strong th:text="${#authentication.name}">User</strong>!
		</div>

		<p th:utext="${#authentication}">Utext</p>

		<div sec:authorize="isAnonymous()">
			<h1>Discord Login</h1>
			<a th:href="@{/oauth2/authorization/discord}" class="button">Login with Discord</a>
		</div>
	</div>
</section>
</body>
</html>