<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/general.html :: head('Logs')"/>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css"/>
	<link rel="stylesheet" th:href="@{/assets/css/copy.css}">
</head>
<body>
<nav th:replace="fragments/navbar.html :: oneLink (${adminUrl}, Admin, true)"></nav>

<section class="content-section">
	<div class="container">
		<table id="logs" class="table table-striped table-bordered table-hover table-dark">
			<thead>
			<tr>
				<th>User</th>
				<th>User ID</th>
				<th>Objekt</th>
				<th>Aktion</th>
				<th>Zeit bis Start</th>
			</tr>
			</thead>
		</table>
	</div>
</section>

<footer th:replace="fragments/general.html :: footer(true)"></footer>

<script th:replace="fragments/scripts.html :: jquery"></script>
<script th:replace="fragments/scripts.html :: datatables"></script>
<script th:src="@{/assets/js/logs.js}"></script>
</body>
</html>