<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/general.html :: head('Logs')"/>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
	<link rel="stylesheet" th:href="@{/assets/css/copy.css}">
</head>
<body>
<nav class="navbar navbar-light fixed-top" id="mainNav">
	<div class="container">
		<div>
			<a th:href="${startUrl}">
				<img class="navbar-logo" th:attr="src=@{/assets/img/amb_logo.jpg}" alt="AMB">
				<a class="navbar-brand" th:href="${startUrl}">Arma macht Bock</a>
			</a>
		</div>
		<div id="navbar">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item nav-link" role="presentation">
					<a class="nav-link active" th:href="${adminUrl}">Admin</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<section class="content-section">
	<div class="container">
		<table id="logs" class="table table-striped table-bordered table-hover table-dark">
			<thead>
			<tr>
				<th>User</th>
				<th>User ID</th>
				<th>Objekt</th>
				<th>Aktion</th>
				<th>Zeit bis Start</th>
			</tr>
			</thead>
		</table>
	</div>
</section>

<footer th:insert="fragments/general.html :: footer" class="fixed-bottom"></footer>

<script th:replace="fragments/scripts.html :: jqueryANDdatatables"></script>
<script th:src="@{/assets/js/logs.js}"></script>
</body>
</html>