<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/general.html :: head('Arma macht Bock')"/>
	<meta name="description" content="Dein nächster Schritt in Richtung Zeitvertreib und Gemeinschaft">

	<link rel="stylesheet" th:href="@{/assets/css/portfolio.css}">
	<link rel="stylesheet" th:href="@{/assets/css/discordInvite.css}">
	<link rel="stylesheet" th:href="@{/assets/css/start.css}">
</head>

<body id="page-top">
<h1 id="loading-error-text" style="background-color: red; z-index: 9000; position: absolute;">
	Wenn du das hier siehst, ist etwas beim Laden schief gelaufen. Lade die Seite bitte mit Strg + Shift + R neu.
</h1>
<nav th:replace="fragments/navbar.html :: start"></nav>

<header id="header" class="masthead">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h1 class="brand-heading">Willkommen bei AMB</h1>
					<p class="intro-text">
						Dein nächster Schritt in Richtung Zeitvertreib und Gemeinschaft
					</p>
					<a class="btn btn-link btn-circle js-scroll-trigger" role="button" href="#about">
						<em class="fas fa-angle-double-down animated"></em>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<section id="about" class="content-section text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Über uns</h2>
				<p>
					Wir sind eine Gemeinschaft, die durch die Lust auf Arma 3 entstanden ist. Schnell war also Mitte
					2020 eine Truppe gefunden, die Spaß am Zocken hat.<br>
					Jeder kennt die Sozialstunden bei der Familie und die Verpflichtungen die eingegangen werden müssen.
					Wer danach, davor oder auch dabei abschalten oder auch mal wieder den Rechner anschreien möchte,
					ist bei uns Willkommen.<br>
					Einen eigenen Discord, Teamspeak und leistungsstarker Game-Server (man muss ja auch mal ein bisschen
					angeben ;)) bieten wir im Gegenzug zu einem ausgewogenen Spielerlebnis mit der richtigen Menge
					Realismus und Spaß.
				</p>
				<p>
					Egal ob dein Interesse nun geweckt ist, oder wir dich erst noch überzeugen müssen,
					<a href="#discord" class="js-scroll-trigger">besuch uns einfach mal</a> und wir spielen, plaudern
					und finden zueinander. (Still a better lovestory than Twilight)
				</p>
			</div>
		</div>
	</div>
</section>
<section id="events" class="content-section text-center bg-section">
	<div class="container">
		<div class="col-lg-8 mx-auto">
			<h1>Wann gehts los?</h1>

			<p>Üblicherweise planen wir unsere abendlichen Zusammentreffen im Voraus. Schaue doch einfach mal in unseren Eventkalender und sei beim Nächsten dabei.</p>
			<a class="btn btn-primary btn-lg btn-default" href="/events">Eventkalender öffnen</a>
		</div>
	</div>
</section>
<section id="games">
	<div class="container photo-gallery">
		<div class="intro">
			<h2 class="text-center">Aktuelle Spiele</h2>
			<p class="text-center">
				Jeden Monat wählen wir 5 Spiele aus, denen wir in diesem Monat mit Events und regelmäßigen Treffen
				besondere Beachtung schenken.
			</p>
		</div>
		<section class="portfolio-block projects compact-grid">
			<div class="row no-gutters">
				<div class="col-md-6 col-lg-4 item zoom-on-hover">
					<a href="https://store.steampowered.com/app/107410/Arma_3/" target="_blank"
					   rel="noopener noreferrer">
						<img class="img-fluid image" alt="Arma3" th:attr="src=@{/assets/img/games/arma3.png}">
						<span class="description">
							<span class="description-heading">Arma 3<br></span>
							<span class="description-body">Ein bisschen Konsistenz brauchen wir ja auch. Deswegen gibt es immer Arma!<br><br></span>
						</span>
					</a>
				</div>
				<div class="col-md-6 col-lg-4 item zoom-on-hover">
					<a href="https://store.steampowered.com/app/945360/Among_Us/" target="_blank"
					   rel="noopener noreferrer">
						<img class="img-fluid image" alt="Game2" th:attr="src=@{/assets/img/games/among-us.jpg}">
						<span class="description">
							<span class="description-heading"><br>Among Us<br></span>
							<span class="description-body">Ein Spiel das besser darin ist seine Freunde zu Feinden zu machen als Monopoly? Wir haben es gefunden und spielen es.<br><br></span>
						</span>
					</a>
				</div>
				<div class="col-md-6 col-lg-4 item zoom-on-hover">
					<a href="https://store.steampowered.com/app/218620/PAYDAY_2/" target="_blank"
					   rel="noopener noreferrer">
						<img class="img-fluid image" alt="Game3" th:attr="src=@{/assets/img/games/payday-2.jpg}">
						<span class="description">
							<span class="description-heading">Payday 2<br></span>
							<span class="description-body">Zur viert Banken und Juweliere ausräumen? Da gibts es ein großes JA! Aber leise sein..<br><br></span>
						</span>
					</a>
				</div>
				<div class="col-md-6 col-lg-4 item zoom-on-hover">
					<a href="https://store.steampowered.com/app/223750/DCS_World_Steam_Edition/" target="_blank"
					   rel="noopener noreferrer">
						<img class="img-fluid image" alt="Game4" th:attr="src=@{/assets/img/games/dcs.jpg}">
						<span class="description">
							<span class="description-heading">DCS<br></span>
							<span class="description-body">Völlig losgelöst von der Erde.<br>Völlig schwerelos<br><br></span>
						</span>
					</a>
				</div>
				<div class="col-md-6 col-lg-4 item zoom-on-hover">
					<a href="https://store.steampowered.com/app/48240/Anno_2070/" target="_blank"
					   rel="noopener noreferrer">
						<img class="img-fluid image" alt="Game5" th:attr="src=@{/assets/img/games/anno2070.jpg}">
						<span class="description">
							<span class="description-heading">Anno 2070<br></span>
							<span class="description-body">Eine bessere Zukunft als es uns erwartet? Einfach mal selber besiedeln!<br><br></span>
						</span>
					</a>
				</div>
				<div class="col-md-6 col-lg-4 item zoom-on-hover">
					<a href="https://store.steampowered.com/app/394360/Hearts_of_Iron_IV/" target="_blank"
					   rel="noopener noreferrer">
						<img class="img-fluid image" alt="Game6"
						     th:attr="src=@{/assets/img/games/hoi4.png}">
						<span class="description">
							<span class="description-heading">Hearts of Iron 4<br></span>
							<span class="description-body">Der Sieg liegt in deinen Händen! Deine mächtigste Waffe liegt darin, deine Nation in den Kampf zu führen.<br><br></span>
						</span>
					</a>
				</div>
			</div>
		</section>
	</div>
</section>
<section id="discord" class="content-section text-center bg-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Discord</h2>
				<p>Alle Informationen und Ansprechpartner findet ihr hier<br></p>
				<div id="discordInviteBox"></div>
			</div>
		</div>
	</div>
</section>

<footer th:insert="fragments/general.html :: footer"></footer>

<script th:replace="fragments/scripts.html :: jqueryANDpopperANDbootstrap"></script>
<script th:replace="fragments/scripts.html :: jqueryeasing"></script>
<script th:src="@{/assets/js/start.js}"></script>
<script th:src="@{/assets/js/discordInvite.js}"></script>
</body>
</html>