<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL -->
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Arma macht Bock</title>
	<meta name="description" content="Das besondere Arma 3 Milsim Erlebnis">

	<meta property="og:image" content="/assets/img/amb_logo.jpg">
	<meta property="og:type" content="website">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{assets/img/favicon/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{assets/img/favicon/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{assets/img/favicon/favicon-16x16.png}">
	<link rel="manifest" th:href="@{assets/img/favicon/site.webmanifest}">


	<link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
	<link rel="stylesheet" th:href="@{assets/css/globalStyles.css}">

	<link rel="stylesheet" th:href="@{assets/css/start.css}">
	<link rel="stylesheet" th:href="@{assets/css/portfolio.css}">
	<link rel="stylesheet" th:href="@{assets/css/discordInvite.css}">
</head>

<body id="page-top">
<nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
	<div class="container">
		<div>
			<a href="#" class="js-scroll-trigger">
				<img class="navbar-logo" th:attr="src=@{assets/img/amb_logo.jpg}" alt="AMB">
				<a class="navbar-brand" href="#">Arma macht Bock</a>
			</a>
		</div>
		<button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbar"
		        type="button" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
		        value="Menu">
			<i class="fa fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item nav-link js-scroll-trigger" role="presentation">
					<a class="nav-link active js-scroll-trigger" href="#about">Über uns</a>
				</li>
				<li class="nav-item nav-link js-scroll-trigger" role="presentation">
					<a class="nav-link js-scroll-trigger" href="#download">Launcher</a>
				</li>
				<li class="nav-item nav-link js-scroll-trigger" role="presentation">
					<a class="nav-link js-scroll-trigger" href="#discord">Discord</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<header id="header" class="masthead">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h1 class="brand-heading">Willkommen bei AMB</h1>
					<p class="intro-text">
						Dein nächster Schritt in Richtung Zeitvertreib und Gemeinschaft
					</p>
					<a class="btn btn-link btn-circle js-scroll-trigger" role="button" href="#about">
						<i class="fa fa-angle-double-down animated"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<section id="about" class="content-section text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Über uns</h2>
				<p>
					Wir sind eine Gemeinschaft, die durch die Lust auf Arma 3 entstanden ist. Schnell war also Mitte
					2020 eine Truppe gefunden, die Spaß am Zocken hat.<br>
					Jeder kennt die Sozialstunden bei der Familie und die Verpflichtungen die eingegangen werden müssen.
					Wer danach, davor oder auch dabei abschalten oder auch mal wieder den Rechner an schreien möchte,
					ist bei uns Willkommen.<br>
					Einen eigenen Discord, Teamspeak und leistungsstarker Game-Server (man muss ja auch mal ein bisschen
					angeben ;)) bieten wir im Gegenzug zu einem ausgewogenen Spieleerlebnis mit der richtigen Menge
					Realismus und Spaß.
				</p>
				<p>
					Egal ob dein Interesse nun geweckt ist, oder wir dich erst noch überzeugen müssen,
					<a href="#discord" class="js-scroll-trigger">besuch uns einfach mal</a> und wir spielen, plaudern
					und finden zueinander. (Still a better lovestory than Twilight)
				</p>
			</div>
		</div>
	</div>
</section>
<section id="download" class="download-section content-section text-center bg-section">
	<div class="container">
		<div class="col-lg-8 mx-auto">
			<h1>Lust auf Arma?</h1>
			<p>
				Dafür darfst du direkt unseren Launcher herunterladen. Du benötigst das Arma 3 Apex DLC und ~40 GB
				freien
				Speicherplatz.
			</p>
			<a class="btn btn-primary btn-lg btn-default" href="/technicalSetup">DOWNLOADANLEITUNG ÖFFNEN<br></a>
		</div>
	</div>
</section>
<section id="games">
	<div class="container photo-gallery">
		<div class="intro">
			<h2 class="text-center">Aktuelle Spiele</h2>
			<p class="text-center">
				Jeden Monat wählen wir 5 Spiele aus, denen wir in diesem Monat mit Events und regelmäßigen Treffen
				besondere Beachtung schenken.
			</p>
		</div>
		<section class="portfolio-block projects compact-grid">
			<div class="row no-gutters">
				<div class="col-md-6 col-lg-4 item zoom-on-hover">
					<a href="https://store.steampowered.com/app/107410/Arma_3/" target="_blank">
						<img class="img-fluid image" th:attr="src=@{assets/img/games/arma3.png}">
						<span class="description">
							<span class="description-heading">Arma 3<br></span>
							<span class="description-body">Ein bisschen Konsistenz brauchen wir ja auch. Deswegen gibt es immer Arma!<br><br></span>
						</span>
					</a>
				</div>
				<div class="col-md-6 col-lg-4 item zoom-on-hover">
					<a href="https://store.steampowered.com/app/945360/Among_Us/" target="_blank">
						<img class="img-fluid image" th:attr="src=@{assets/img/games/among-us.jpg}">
						<span class="description">
							<span class="description-heading"><br>Among Us<br></span>
							<span class="description-body">Ein Spiel das besser darin ist seine Freunde zu Feinden zu machen als Monopoly? Wir haben es gefunden und spielen es.<br><br></span>
						</span>
					</a>
				</div>
				<div class="col-md-6 col-lg-4 item zoom-on-hover">
					<a href="https://store.steampowered.com/app/1250410/Microsoft_Flight_Simulator/" target="_blank">
						<img class="img-fluid image" th:attr="src=@{assets/img/games/flightsim.png}">
						<span class="description">
							<span class="description-heading">Microsoft Flight Simulator<br></span>
							<span class="description-body">Einmal abgestürzt ist es vorbei. Deswegen wird geübt, um den Urlaubsflieger endlich hijacken zu können.<br><br></span>
						</span>
					</a>
				</div>
				<div class="col-md-6 col-lg-4 item zoom-on-hover">
					<a href="https://store.steampowered.com/app/427520/Factorio/" target="_blank">
						<img class="img-fluid image" th:attr="src=@{assets/img/games/factorio.jpg}">
						<span class="description">
							<span class="description-heading">Factorio<br></span>
							<span class="description-body">Irgendwas mit Zügen<br><br></span>
						</span>
					</a>
				</div>
				<div class="col-md-6 col-lg-4 item zoom-on-hover">
					<a href="https://www.epicgames.com/store/de/product/snowrunner" target="_blank">
						<img class="img-fluid image" th:attr="src=@{assets/img/games/snowrunner.jpg}">
						<span class="description">
							<span class="description-heading">Snowrunner<br></span>
							<span class="description-body">Der matschige Nachfolger vom Euro Truck Simulator. Keine Garantie aus dem Schlamm wieder heraus zu kommen.<br><br></span>
						</span>
					</a>
				</div>
				<div class="col-md-6 col-lg-4 item zoom-on-hover">
					<a href="https://store.steampowered.com/app/220200/Kerbal_Space_Program/" target="_blank">
						<img class="img-fluid image" th:attr="src=@{assets/img/games/kerbal-space-program.jpg}">
						<span class="description">
							<span class="description-heading">Kerbal Space Program<br></span>
							<span class="description-body">Bevor wir die neue Generation ins All senden müssen noch die Reste verwendent werden.<br><br></span>
						</span>
					</a>
				</div>
			</div>
		</section>
	</div>
</section>
<section id="discord" class="content-section text-center bg-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Discord</h2>
				<p>Alle Informationen und Ansprechpartner findet ihr hier<br></p>
				<div id="discordInviteBox"></div>
			</div>
		</div>
	</div>
</section>
<footer id="footer">
	<div class="container text-center">
		<p>Copyright ©&nbsp;Alf 2020</p>
	</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script th:src="@{assets/js/app.js}"></script>
<script th:src="@{assets/js/discordInvite.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script>
    discordInvite.init({
        inviteCode: 'zMwnQgQ',
        title: 'Arma macht Bock!',
    });
    discordInvite.render();
</script>
</body>

</html>