<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/general.html :: head('Arma macht Bock')"/>
	<meta property="og:image" content="/assets/img/amb-logo.jpg">
	<meta name="description" content="Dein nächster Schritt in Richtung Zeitvertreib und Gemeinschaft">

	<link rel="stylesheet" th:href="@{/assets/css/discordInvite.css}">
	<link rel="stylesheet" th:href="@{/assets/css/start.css}">
</head>

<body id="page-top">
<h1 id="loading-error-text" style="background-color: red; z-index: 9000; position: absolute;">
	Wenn du das hier siehst, ist etwas beim Laden schief gelaufen. Lade die Seite bitte mit Strg + Shift + R neu.
</h1>
<nav th:replace="fragments/navbar.html :: start"></nav>

<header id="header" class="masthead">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h1 class="brand-heading">Willkommen bei AMB</h1>
					<p class="intro-text">
						Dein nächster Schritt in Richtung Zeitvertreib und Gemeinschaft
					</p>
					<a class="btn btn-link btn-circle js-scroll-trigger" role="button" href="#about">
						<em class="fas fa-angle-double-down animated"></em>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<section id="about" class="content-section text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Über uns</h2>
				<p>
					Wir sind eine Gemeinschaft, die durch die Lust auf Arma 3 entstanden ist. Schnell war also Mitte
					2020 eine Truppe gefunden, die Spaß am Zocken hat.<br>
					Jeder kennt die Sozialstunden bei der Familie und die Verpflichtungen die eingegangen werden müssen.
					Wer danach, davor oder auch dabei abschalten oder auch mal wieder den Rechner anschreien möchte,
					ist bei uns Willkommen.<br>
					Einen eigenen Discord, Teamspeak und leistungsstarker Game-Server (man muss ja auch mal ein bisschen
					angeben ;)) bieten wir im Gegenzug zu einem ausgewogenen Spielerlebnis mit der richtigen Menge
					Realismus und Spaß.
				</p>
				<p>
					Egal ob dein Interesse nun geweckt ist, oder wir dich erst noch überzeugen müssen,
					<a href="#discord" class="js-scroll-trigger">besuch uns einfach mal</a> und wir spielen, plaudern
					und finden zueinander. (Still a better lovestory than Twilight)
				</p>
			</div>
		</div>
	</div>
</section>
<section id="events" class="content-section text-center bg-section">
	<div class="container">
		<div class="col-lg-8 mx-auto">
			<h1>Wann gehts los?</h1>

			<p>Üblicherweise planen wir unsere abendlichen Zusammentreffen im Voraus. Schaue doch einfach mal in unseren
				Eventkalender und sei beim Nächsten dabei.</p>
			<a class="btn btn-primary btn-lg btn-default" href="/events">Eventkalender öffnen</a>
		</div>
	</div>
</section>
<section id="eventChecklist" class="content-section">
	<div class="container">
		<div class="intro">
			<h2 class="text-center">Checkliste für das nächste (Arma) Event</h2>
			<ol>
				<li>
					<strong><a href="https://wiki.armamachtbock.de/de/Spieler/Mitmachen/Modset">Modset</a> herunterladen</strong>.
					Die richtige Version findest du in der Event-Beschreibung (siehe weiter unten).
				</li>
				<li>
					Unserem <strong><a href="https://armamachtbock.de/discord">Discord</a> beitreten</strong>
				</li>
				<li>
					Arma (bzw. passendes Spiel)-<strong>Rolle</strong> im <a
						href="discord://discord.com/channels/706254758721224707/739903690583834665">#roles-rollen</a>
					Kanal <strong>auswählen</strong>. <em>Über diese Rollen könnt ihr auch Mitspieler suchen.</em>
				</li>
				<li>
					Für das Event <strong>anmelden</strong>: Dazu im entsprechenden Discord Kanal "!slot {Slotnummer}"
					schreiben.<br>
					<em>Hier findest du auch die wichtigsten Informationen was gespielt wird, unter anderem auch das
						Modpack.</em><br>
					Kurze Übersicht über die wichtigsten Befehle im <a
						href="https://wiki.armamachtbock.de/de/Spieler/Discord/Bot">Discord Bot Cheatsheet</a>
				</li>
				<li>
					Zum Eventzeitpunkt da sein und Spaß haben.<br>
					Gerne machen wir vorher gemeinsam einen Techcheck oder klären noch offene Fragen. <strong>Sprich uns
					einfach an!</strong>
				</li>
			</ol>
		</div>
	</div>
</section>
<section id="discord" class="content-section text-center bg-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Discord</h2>
				<p>Alle Informationen und Ansprechpartner findet ihr hier<br></p>
				<div id="discordInviteBox"></div>
			</div>
		</div>
	</div>
</section>

<footer th:replace="fragments/general.html :: footer(false)"></footer>

<script th:replace="fragments/scripts.html :: jqueryANDpopperANDbootstrap"></script>
<script th:replace="fragments/scripts.html :: jqueryeasing"></script>
<script th:src="@{/assets/js/start.js}"></script>
<script th:src="@{/assets/js/discordInvite.js}"></script>
</body>
</html>