<!DOCTYPE html>
<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL -->
<html lang="de">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Arma macht Bock - Launcher</title>
	<meta property="og:image" content="/assets/img/amb_logo.jpg">
	<meta name="description" content="Die Anleitung zum AMB Launcher">
	<meta property="og:type" content="website">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/img/favicon/site.webmanifest">
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/globalStyles.css">
	<link rel="stylesheet" href="/assets/css/article.css">
</head>

<body>
<div class="article-clean">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
				<div class="intro">
					<h1 class="text-center">Arma 3 Setup</h1>
					<img class="img-fluid" src="/assets/img/backgrounds/tower.jpg">
				</div>
				<div class="text">
					<section id="Arma">
						<h2>Arma vorbereiten<br></h2>
						<ol>
							<li>Download über Steam. Gegebenenfalls die Dateien auf Konsistenz überprüfen lassen, wenn
								Fehler auftreten.<br></li>
						</ol>
					</section>
					<section id="Launcher">
						<h2>Arma macht Bock Launcher (AMBL)<br></h2>
						<p>AMBL kümmert sich um die Mods und joined dich direkt auf den Server.<br>
						</p>
						<ol>
							<li>Download: <a href="">https://webalf.de</a>
								<br></li>
							<li>Installation unter
								<em>C:\Users\BENUTZER\AppData\Local\Programs\</em><br>
								Bla bla bla
							</li>
						</ol>
					</section>
					<section id="Acre">
						<h2>ACRE und Teamspeak 3<br></h2>
						<figure><img class="img-fluid figure-img" src="/assets/img/technicalSetup/acre.jpg"></figure>
						<p>Geht halt alles nur mit Teamspeak</p>
						<ol>
							<li>
								<a href="https://acre2.idi-systems.com/wiki/user/installation">ACRE erklärt es selbst am
									Besten</a>
							</li>
						</ol>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="/assets/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>