# Default ignored files
/shelf/
/workspace.xml
# Datasource ignored files
/dataSources/
/dataSources.xml
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/libraries

misc.xml

#Sonarlint
sonarlint-state.xml
sonarlint/

#Discord Integration
discord.xml

#JPA Buddy
jpa*.xml

# GitHub Copilot
copilot.data.migration.*.xml
copilotDiffState.xml
